#Home section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#HomeImg{
    color: var(--color-E);
    min-height: calc(120vh - var(--Header-size));
    background-image: url('../../assets/img/HomeBackground640.jpg');
	background-size:cover;
	background-repeat: no-repeat;
    background-position: center;
}
#HomeImg div{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	min-height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}
#HomeImg-title{
    font-size:  6rem;
    margin: 1rem;
    font-family: Pacifico, Raleway, Arial, Helvetica, sans-serif;
}

#HomeInfo{
    flex-direction: row;
    min-height: calc(100vh - var(--Footer-size));
}
#HomeDescription-title{
    font-size: 3rem;
    font-family: Raleway, Arial, Helvetica;
    margin: 1rem 2rem;
}

#HomeDescription-text{
    /* border: 0.1rem var(--color-A1) solid; */
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 0.75rem 1.5rem;
    font-size: 1.2rem;
}
#HomeLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#HomeItem-icon{
    width: 20vw;
    height: 20vw;
    animation: surfRotation 5000ms ease-in-out  infinite;
}
@media screen and (min-width: 768px){
    #Home section{
        flex-direction: row;
    }
    #HomeImg{
        background-image: url('../../assets/img/HomeBackground1920.jpg');
    }
    #HomeDescription-title{
        font-size: 3rem;
        margin: 1rem 2rem;
    }
    #HomeDescription-text{
        margin: 1rem 3rem;
        font-size: 1.75rem;
    }
    #HomeItem-icon{
        width: 20rem;
        height: 20rem;
    }
    #HomeLogo{
        width: 50%;
    }
    #HomeDescription{
        padding: 5%;
        width: 50%;
    }
}

@keyframes surfRotation {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);

    }
    75%{
        transform: rotate(-30deg);
    }
  }