.Menu{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* padding: 2vh 0 2vh 5.5vh; */
    /* background-color: rgba(var(--raw-C3),0.85); */
    /* background-color: rgba(0, 58, 116, 0.85); */
    border-radius: 1rem;
    transition: 1100ms;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(00.2rem);
}

.Menu-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0.4rem 0.1rem;
    color: var(--color-B);
    font-family: Merriweather Sans, Raleway, Arial, Helvetica, sans-serif;
    transition: color 250ms ease;
}

.Menu-item-icon{
    width: 2rem;
    height: 2rem;
}
.Menu-item-text{
    font-size: 1.5rem;
    margin: 0 0 0 0.5rem;
}


@media screen and (min-width: 768px){
    .Menu{
        flex-direction: row;
        align-items: initial;
    }

    .Menu-item{
        color: var(--color-B);
    }
    .Menu-item:hover{
        color: var(--color-C4);
    }
    .Menu-item-icon{
        width: 1.5rem;
        height: 1.5rem;
    }
    .Menu-item-text{
        font-size: 1rem;
        margin: 0 0 0 0.5rem;
    }
}
